<!DOCTYPE html>
<html lang='fr-FR' class='no-js'>
    <head>
        <meta charset='utf-8'>
        <meta name='description' content=''>
        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <title>Le Pont Transbordeur</title>

        <link rel='stylesheet' href='css/main.css'>

        <script>document.getElementsByTagName('html')[0].className = 'js';</script>
    </head>

    <body id='body'>
        <canvas id="canvas"></canvas>
        <div class='wrapper-content'>
            <main role='main' class='container'>
                <span id='next' class='nextBtn'>Suivant</span>
                <span id='bar' class='prog-bar'><span></span></span>
                <section class='sectionClick' id='start'>
                    <div data-prog='0' class='slide starting'>
                        <h1>Le Pont Transbordeur</h1>
                        <h2>Laissez-vous guider à travers son histoire</h2>
                    </div>
                </section>
                <section class='sectionClick' id='ideation'>
                    <div data-prog='0' class='title-slide slide'>
                        <h1>Idéation</h1>
                        <h2>Une mise en situation</h2>
                    </div>
                    <div data-prog='6' class='slide info-slide slide2'>
                        <div class='text'>
                            <h3>C'était quoi ?</h3>
                            <p>Sa véritable dénomination est « pont à poutre cantilever à réaction verticale ». C’est un pont métallique long au total de 191m, constitué de deux pylônes haut de 76m et dont le tablier se trouve 50m au dessus de l’eau. <br> <br>Sa traversée se faisait communément par une nacelle nommé transbordeur et qui donna par extension son nom au pont.</p>
                        </div>
                        <div class='img'>
                            <div class='wrapper-img'>
                                <img src="./img/Nantes-pont-transbordeur-CP165LL.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div  data-prog='14' class='slide info-slide slide3'>
                        <div class='text'>
                            <h3>C'était où ?</h3>
                            <p>Il reliait l’île St-Anne au quai de la Fosse. <br> Il servait essentiellement au transport des ouvriers vers les chantiers navals.</p>
                        </div>
                        <div class='img'>
                            <div class='wrapper-img'>
                                <img src="./img/cp1.jpg" alt="">
                            </div>
                        </div>
                    </div>

                </section>

                <section class='sectionClick' id='creation'>
                    <div data-prog='20' class='title-slide slide'>
                        <h1>Création</h1>
                        <h2>La naissance d'un symbole</h2>
                    </div>
                    <div data-prog='24' class='slide info-slide'>
                        <div class='text'>
                            <h3>L'architecte</h3>
                            <p>Le 23 avril 1894 l’ingénieur en chef des Ponts-et-Chaussées de la Loire-Inférieur, M. Lefort adressa une lettre à Ferdinand Arnodin pour lui demander un entretien afin de discuter de la possibilité d’installer un transbordeur sur la Loire. <br><br>Ferdinand Arnodin est un entrepreneur et architecte, ancien élève de Gustave Eiffel, il se fit connaitre par la réalisation du pont transbordeur de Bilbao en 1892.</p>
                        </div>
                        <div class='img'>
                            <div class='wrapper-img'>
                                <img src="./img/lettre1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div data-prog='28' class='slide info-slide'>
                        <div class='text'>
                            <h3>Les prémices</h3>
                            <p>En 1896, Arnodin confirme le projet d’établir un franchissement pour relier la Prairie-au-Duc, il proposa de financer l’édifice lui-même en échange d’une concession sur l’exploitation du pont pour 80 ans. <br><br>Il présenta un premier projet composé d’un pylône central en aval de l’île gloriette et de deux pylônes sur chaque rive.  Cela permettait d’avoir trois accès à la nacelle du transbordeur, un depuis chaque rive et un autre depuis l’île Gloriette.</p>
                        </div>
                        <div class='img'>
                            <div class='wrapper-img'>
                                <img src="./img/lettre2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div data-prog='32' class='slide info-slide'>
                        <div class='text'>
                            <h3>Les difficultés</h3>
                            <p>Mais comme le pylône central pouvait gêner la navigation, se projet fut abandonné. <br><br>D’autres problèmes furent soulevés en ce qui concerne les points d’ancrage des câbles du pont qui vont imposer à la municipalité de coûteuses expropriations si le transbordeur de Nantes est construit sur le modèle de ses prédécesseurs. </p>
                        </div>
                        <div class='img'>
                            <div class='wrapper-img'>
                                <img src="./img/construction.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div data-prog='36' class='slide info-slide'>
                        <div class='text'>
                            <h3>L'invention</h3>
                            <p>Arnodin inventa donc pour l’occasion un modèle de « pont à transbordeur à contrepoids et articulations », cette spécificité du pont transbordeur nantais fut reprise pour la construction de celui de Marseille quelques années plus tard. <br><br>Le pont finit par être ouvert à la circulation le 1er novembre 1903.</p>
                        </div>
                        <div class='img'>
                            <div class='wrapper-img'>
                                <img src="./img/numeriser-4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </section>
                <section class='sectionClick' id='symbolisation'>
                    <div data-prog='40' class='title-slide slide'>
                        <h1>Symbolisation</h1>
                        <h2>Un emblème pour la ville</h2>
                    </div>
                    <div data-prog='46' class='slide info-slide'>
                        <div class='text'>
                            <h3>Les exploits</h3>
                            <p>Le pont à transbordeur fut si emblématique qu’il fut le lieu de nombreux évènement et exploits. <br><br>Dans les années 1910, le célèbre Docker appelé « La Moule » gravissait les escaliers du pont transbordeur avec un sac de 100 kilos sur les épaules pour faire spectacle de sa force herculéenne. En 1913 le pilote Maneyrol passa sous le tablier en avion.</p>
                        </div>
                        <div class='img'>
                            <div class='wrapper-img'>
                                <img src="./img/14juillet.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div data-prog='54' class='slide info-slide'>
                        <div class='text'>
                            <h3>Le drame</h3>
                            <p>Le 31 mai 1925 Willy Wolf « l’acrobate-fou » qui en voulant effectuer le plongeon de la « mort » se tua en sautant du pont.</p>
                        </div>
                        <div class='img'>
                            <div class='wrapper-img'>
                                <img src="./img/willy.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </section>
                <section class='sectionClick' id='destruction'>
                    <div data-prog='60' class='title-slide slide'>
                        <h1>Destruction</h1>
                        <h2>La fin</h2>
                    </div>
                    <div data-prog='65' class='slide info-slide'>
                        <div class='text'>
                            <h3>Le remplacement</h3>
                            <p>Le pont à transbordeur était fait pour une époque où on se déplaçait lentement à pied ou à bicyclette. <br><br>Après la Grande Guerre l’augmentation du nombre de véhicules motorisés commence à faire douter de son efficacité. </p>
                        </div>
                        <div class='img'>
                            <div class='wrapper-img'>
                                <img src="./img/avion.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div data-prog='70' class='slide info-slide'>
                        <div class='text'>
                            <h3>Le retour ?</h3>
                            <p>Néanmoins le pont transbordeur resta encore en activité après la Seconde Guerre mondiale. C’était un des rares ponts de la ville qui fut réparable rapidement alors que les autres étaient durement endommagés par les dynamitages allemands. <br><br>Il eut donc une grande utilité pour assurer la traversée de la Loire et fut exploité pendant encore 10 ans. </p>
                        </div>
                        <div class='img'>
                            <div class='wrapper-img'>
                                <img src="./img/pano.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div data-prog='75' class='slide info-slide slide-last'>
                        <div class='text'>
                            <h3>La destruction</h3>
                            <p>Rongé par la rouille, par les infiltrations d’eau de pluie et tout de même fragilisé par les bombardements le pont transbordeur nécessitait de lourds travaux trop couteux pour être conservé. <br><br>L’exploitation cesse le 31 décembre 1954 et le démantèlement débuta le 23 mai 1958 malgré les tentatives pour sauver ce monument du patrimoine nantais.</p>
                        </div>
                        <div class='img'>
                            <div class='wrapper-img'>
                                <img src="./img/destruction.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </section>
                <section class='sectionClick' id='resurection'>
                    <div data-prog='80' class='title-slide slide'>
                        <h1>Résurrection</h1>
                        <h2>Un nouveau pont</h2>
                    </div>
                    <div data-prog='90' class='slide info-slide'>
                        <div class='text'>
                            <h3>La rennaissance</h3>
                            <p>Un groupe de Nantais, à l’initiative de l’architecte nantais Paul Poirier, se propose de construire un nouveau pont à transbordeur au-dessus du bras de la Madeleine. <br> <br>C’est un projet transversal, consensuel, et surtout pas politique, précise l’architecte. « Il serait torpillé d’avance. Il concerne tous les Nantais. C’est un projet d’envergure pour contribuer à réconcilier Nantes avec son fleuve. »</p>
                        </div>
                        <div class='img'>
                            <div class='wrapper-img'>
                                <img src="./img/newpont.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </section>
                <section id='end'>
                    <div class='slide retry'>
                        <div class='col'>
                            <h3 data-link='ideation'>Idéation</h3>
                        </div>
                        <div class='col'>
                            <h3 data-link='creation'>Création</h3>
                        </div>
                        <div class='col'>
                            <h3 data-link='symbolisation'>Symbolisation</h3>
                        </div>
                        <div class='col'>
                            <h3 data-link='destruction'>Destruction</h3>
                        </div>
                        <div class='col'>
                            <h3 data-link='resurection'>Résurrection</h3>
                        </div>
                    </div>
                </section>

            </main>

            <footer role='contentinfo' class='container'>
                <div class='inner-footer'>
                    <span id='here'></span>
                    <div class="step" data-link='ideation'><span class="inner"></span></div>
                    <div class="step" data-link='creation'><span class="inner"></span></div>
                    <div class="step" data-link='symbolisation'><span class="inner"></span></div>
                    <div class="step" data-link='destruction'><span class="inner"></span></div>
                    <div class="step" data-link='resurection'><span class="inner"></span></div>
                    <div class="step" data-link='end'><span class="inner"></span></div>
                </div>
            </footer> 
        </div>
        
        <svg style='position:absolute;width:0;height:0;overflow:hidden'>
            <defs>
                <symbol id="icon-reload" viewBox="0 0 24 24">
                    <title>reload</title>
                    <path d="M11 2q1.945 0 3.766 0.734 1.867 0.758 3.305 2.195 0.008 0.008 2.93 2.867v-3.797q0-0.414 0.293-0.707t0.707-0.293 0.707 0.293 0.293 0.707v6q0 0.414-0.293 0.707t-0.707 0.293h-6q-0.414 0-0.707-0.293t-0.293-0.707 0.293-0.707 0.707-0.293h3.375q-2.172-2.109-2.719-2.656-1.164-1.164-2.648-1.758-1.43-0.586-3.008-0.586t-3.008 0.586q-1.492 0.594-2.648 1.758-1.156 1.156-1.758 2.648-0.586 1.43-0.586 3.008t0.586 3.008q0.602 1.492 1.758 2.648 1.156 1.164 2.648 1.758 1.43 0.586 3.008 0.586t3.008-0.586q1.484-0.594 2.648-1.758 1.297-1.297 1.891-2.992 0.133-0.391 0.508-0.566t0.766-0.043q0.391 0.141 0.57 0.516t0.039 0.766q-0.359 1.023-0.973 2t-1.387 1.734q-1.437 1.437-3.305 2.195-1.82 0.734-3.766 0.734t-3.766-0.734q-1.867-0.758-3.305-2.195t-2.195-3.305q-0.734-1.82-0.734-3.766t0.734-3.766q0.758-1.867 2.195-3.305t3.305-2.195q1.82-0.734 3.766-0.734z"></path>
                </symbol>
            </defs>
        </svg>

        <script src='js/main.js' defer></script>
    </body>
</html>
