<!DOCTYPE html>
<html lang='fr-FR' class='no-js'>
    <head>
        <meta charset='utf-8'>
        <meta name='description' content=''>
        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <title></title>

        <link rel='stylesheet' href='css/main.css'>

        <script>document.getElementsByTagName('html')[0].className = 'js';</script>
    </head>

    <body id='body'>
        <div class='wrapper-page'>
            <header role='banner container'>
                <nav>
                    <ul class='menu'>
                        <li><a href="/">I</a></li>
                        <li><a href="/creation.html">II</a></li>
                        <li><a href="/symbolisation.html">III</a></li>
                        <li><a href="/destruction.html">IV</a></li>
                        <li><a href="/resurection.html">V</a></li>
                    </ul>
                </nav>
            </header>

            <main role='main' class='container'>
                <div class="content-card step-1">
                    <div class="row">
                        <div class='container-img'>
                            <div class='img-wrap'>
                                <img src="/img/14juillet.jpg" alt="">
                            </div>
                        </div>
                        <p>Le pont à transbordeur fut si emblématique qu’il fut le lieu de nombreux évènement et exploits. Dans les années 1910, le célèbre Docker appelé « La Moule » gravissait les escaliers du pont transbordeur avec un sac de 100 kilos sur les épaules pour faire spectacle de sa force herculéenne.</p>
                    </div>

                    <div class='row'>
                        <p>En 1913 le pilote Maneyrol passa sous le tablier en avion, le 31 mai 1925 Willy Wolf « l’acrobate-fou » qui en voulant effectuer le plongeon de la « mort » se tua en sautant du pont.</p>
                        <div class='container-img'>
                            <div class='img-wrap'>
                                <img src="/img/willy.jpg" alt="">
                            </div>
                        </div>
                        
                    </div>
                </div>
            </main>

            <footer role='contentinfo' class='container'>
                <div class='wrapper-footer'>
                    <a href="">
                        <span class='left'></span>
                    </a>
                    <a href="">
                        <span class='right'></span>
                    </a>
                </div>
            </footer>
        </div>      
        
        <svg style='position:absolute;width:0;height:0;overflow:hidden'>
            <defs>
                <symbol id="icon-arrow" viewBox="0 0 90 32">
                    <title>big-arrow</title>
                    <path d="M78.678 32h-5.009l9.322-16-9.322-16h5.009l11.13 15.652v0.765l-11.13 15.583zM0 17.391l0.070-3.061 84.104 0.278v2.783h-84.174z"></path>
                </symbol>
            </defs>
        </svg>

        <script src='js/main.js' defer></script>
    </body>
</html>
